<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
     <groups >
     	<define name="high">
     		<include name="high"/>	
     	</define>	
     	<define name="medium">
     		<include name="medium"/>
     	</define>
     </groups>
     <classes>
      <class name="com.testing.excercise4.test.TestingSnapdeal"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
